<%= render partial: "common/errors", locals: {model: @assignment} %>

<%= form_for [@person, @assignment] do |f| %>
  <div class="form-row">
    <%= f.label :location_id, "Location" %>
    <%= f.collection_select :location_id, Location.all, :id, :name %>
  </div>
  <div class="form-row">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>
  <div class="form-row">
    <%= f.submit "Assign" %>
  </div>
<% end %>