<%= "#{@person.first_name} #{@person.last_name}" %>
<%= link_to "Edit", edit_person_path %>
<%= link_to "+ Add Location", new_person_assignment_path(@person.id) %>

<table>
  <th>Locations</th>
  <tr>
    <td>Location</td>
    <td>Role</td>
  </tr>
  <% @person.assignments.each do |assignment| %>
    <tr class="assignment">
      <td><%= assignment.location.name %></td>
      <td><%= assignment.role %></td>
      <td><%= link_to "edit", edit_person_assignment_path(id: assignment.id, person_id: @person.id) %></td>
    </tr>
  <% end %>
</table>